img {
  display: block;
  margin: 10px auto;
  max-width: 40%;
}
.item-name{
  height: 30px;
  margin: 1% 0;
  vertical-align: center;
}
.price{
  height: 20px;
  font-family: Roboto;
  font-weight: bold;
  vertical-align: center;
}

